@media (max-width: 825px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }
  .hero-preview {
    display: flex;
    justify-content: center;
  }
  .hero-content {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 2rem;
  }
  .hero-text p {
    font-size: var(--font-size-base);
  }
}

@media (max-width: 750px) {
  .problem-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 880px) {
  .header-actions {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}

@media (max-width: 800px) {
  .features-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .steps {
    grid-template-columns: 1fr;
  }
  .step:not(:last-child)::after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: var(--spacing-xl);
    background-color: var(--color-text);
    opacity: 0.25;
  }
}
